<header class="main-header-container">
    <div class="main-header">
        <h1 class="header-title">
            <a class="title-news" href="{% url "news:home" %}">
                <i class="fas fa-newspaper"></i>
                <span>World News</span>
            </a>
        </h1>
    </div>
    <div class="main-container-category">
        <a class= "category-international" href="{% url "news:international" category_id=1  %}">
            <li>International</li>
        </a>
        <a class="category-economy" href="{% url "news:economy" category_id=2  %}">
            <li>Economy</li>
        </a>
        <a class="category-technology" href="/">
            <li>Technology</li>
        </a>
        <a class="category-health" href="/">
            <li>Health</li>
        </a>
        <a class="category-science" href="/">
            <li>Science</li>
        </a>
        <a class="category-sport" href="/">
            <li>Sport</li>
        </a>
    </div>
</header>