<div class="news news-list-item">
    <div class="news-cover">
        <img src="{{ new.cover.url }}" alt="Temporário">
    </div>
    <div class="news-title-container">
        <a href="{% url "news:detail" new.id %}">
            <h2 class="news-title-item">{{ new.title }}</h2>
        </a>
    </div>

    <div class="news-author">
        <span class="news-author-item">
            <i class="fas fa-user">
                {{ new.author.first_name}} {{ new.author.last_name}}
            </i>
        </span>

        <span class="news-author-item">
            <i class="fas fa-calendar-alt">
                {{ new.created_at }}
            </i>
        </span>

        <span class="news-category-item">
            <a href="news/category/international">
                <i class="fas fa-layer-group"></i>
                <span>{{ new.category.name}}</span>
            </a>
        </span>
    </div>

    <div class="news-content">
        <p>{{ new.description }}</p>
    </div>
</div>