{% extends "global/base.html" %}

{% block title %}Dashboard ({{ user }}) | {% endblock title %}

{% block content %}
<div class="center">
    <h2>Dashboard ({{ user }})</h2>
</div>
<div class="center">
    {% include "authors/partials/login_message.html" %}
    {% include 'global/partials/messages.html' %}

    <div class="authors-dashboard-container">
        <h3>Your news</h3>

        <ul>
            {% for new in news %}
                <li class="link-dashboard">
                    <a class="title-news-dashboard" href="{% url "authors:dashboard_news_edit" new.id %}"> {{ new.title }}</a>
                    <form 
                    class="inline-form form-delete" 
                    action="{% url "authors:dashboard_news_delete" %}" 
                    method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ new.id }}">
                        <button class="plaintext-button" type="submit">❌</button>
                    </form>
                </li>
            {% empty %}
                <li>
                    <p>You do not have news, please create one.</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}