{% extends "global/base.html" %}

{% block title %}Register | {% endblock title %}

{% block content %}
    <div class="container">
        <form action="{{ form_action }}" method="POST">
            {% csrf_token %}

            <div class="form-content form-content-grid">
                <h1 class= "center">
                    <i class="fas fa-newspaper"></i>
                </h1>
                <div class="center container">
                    <h2>Create Account</h2>
                </div>

                {% include "global/partials/messages.html" %}

                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{field}}
                        {% if field.help_text %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                
                {% if form.errors %}
                    <div class="form-group message message-error">
                      There are errors in the form, please fix them and send again.
                    </div>
                {% endif %}

                <div class="form-group">
                    <button type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

