{% if request.user.is_authenticated %}
    <div class="login-message">
        Your are logged in with
        {{  request.user.username }}.
        <a class="link-dashboard" href="{% url "authors:dashboard" %}">See your news</a>, 
        <a class="link-dashboard" href="{% url "authors:dashboard_news_new" %}">create a new news</a> or 
        {% include "authors/partials/form_logout.html" %}
        <a class="authors-logout-link" href="#">click here</a> to logout.
    </div>
{% endif %}